out
dist
release
media_origin
.stfolder
node_modules
.vscode-test/
*.vsix
npminstall-debug.log
TODO.md
.history/
log.txt
test-robot.urdf
test-trajectory.csv

.omo/
CODEBASE_ANALYSIS.md
fix_template.js
log.txt
